/* variables
============================================================================ */
.home-about, .home-events, .home-branches, .home-sponsors, .home-footer, .about-bar, .contact-bar, .about-body, .contact-body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 35%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1500px) {
    .home-about, .home-events, .home-branches, .home-sponsors, .home-footer, .about-bar, .contact-bar, .about-body, .contact-body {
      padding: 0 3rem; } }
  @media (max-width: 1024px) {
    .home-about, .home-events, .home-branches, .home-sponsors, .home-footer, .about-bar, .contact-bar, .about-body, .contact-body {
      padding: 0 1rem; } }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

input, textarea, button {
  font-family: 'Source Sans Pro', sans-serif !important; }

p {
  line-height: 1.8rem; }

/* Preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #fff;
  transition: 0.5s;
  opacity: 1; }

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 0.7s infinite ease-in-out;
  animation: sk-pulseScaleOut 0.7s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.home-navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  color: white;
  z-index: 1;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 90px;
  top: 0; }
  .home-navbar.stick {
    background: rgba(32, 56, 100, 0.9);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .home-navbar.stick .selected, .home-navbar.stick span:hover {
      border-bottom: 2px solid white; }
    .home-navbar.stick .nav-sub-container {
      background: transparent; }
    .home-navbar.stick .nav-sub {
      background: rgba(32, 56, 100, 0.9);
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .home-navbar.stick .has-sub {
      background: rgba(32, 56, 100, 0.9); }
  @media (max-width: 1024px) {
    .home-navbar {
      display: none; } }
  .home-navbar a {
    text-decoration: none;
    color: inherit; }

.nav-logo {
  margin: 1rem;
  margin-right: auto; }
  .nav-logo img {
    display: block;
    width: 6rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .nav-logo img.stick {
      width: 5rem; }

.nav-item {
  text-transform: uppercase;
  list-style: none;
  padding: 2rem 1.5rem;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  transition: 0.3s; }
  .nav-item .has-sub {
    position: absolute;
    height: calc(100% + 2px);
    width: 100%;
    background: #ed7d32;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 0s, opacity 0.3s; }
  .nav-item span {
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    z-index: 1; }
    .nav-item span.selected, .nav-item span:hover {
      border-bottom: 2px solid white; }
      .nav-item span.selected.no-underline, .nav-item span:hover.no-underline {
        border-bottom: 2px solid transparent; }
      .nav-item span.selected + .nav-sub-container + .has-sub, .nav-item span:hover + .nav-sub-container + .has-sub {
        visibility: visible;
        opacity: 1; }
      .nav-item span.selected + .nav-sub-container, .nav-item span:hover + .nav-sub-container {
        visibility: visible;
        opacity: 1; }
    .nav-item span.involve {
      background: #ed7d32;
      border-radius: 5px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      padding: 10px; }
      .nav-item span.involve:hover {
        border-bottom: 2px solid transparent;
        background: #ff7403; }

.nav-sub-container {
  position: absolute;
  margin: 0 0 0 -1.5rem;
  padding: 90px 0 0 0;
  top: 0;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -o-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s; }
  .nav-sub-container:hover {
    visibility: visible;
    opacity: 1; }
    .nav-sub-container:hover + .has-sub {
      visibility: visible;
      opacity: 1; }

.nav-sub {
  list-style: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: #ed7d32;
  display: block; }
  .nav-sub:hover {
    text-decoration: underline; }

.mobile-navbar-wrapper {
  visibility: hidden;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.mobile-navbar-top {
  height: 3.5rem;
  width: auto;
  position: fixed;
  background: #203864;
  border-radius: 3px;
  padding: 0 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  display: none; }
  .mobile-navbar-top .mobile-navbar-logo {
    height: 2.5rem;
    width: auto; }
    .mobile-navbar-top .mobile-navbar-logo img {
      height: 100%;
      width: auto;
      display: block; }
  @media (max-width: 1024px) {
    .mobile-navbar-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.mobile-navbar {
  width: 90%;
  background: #203864;
  position: relative; }

.hiring-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .hiring-package iframe {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    width: 60%;
    height: 80%;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
    @media (max-width: 1024px) {
      .hiring-package iframe {
        height: 80%; } }

.home-title {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .home-title .background-image {
    background: url("../images/alternate_background.jpg");
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed; }
    @media (max-width: 1024px) {
      .home-title .background-image {
        background-attachment: scroll; } }

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.bow-style {
  position: absolute;
  width: 100%;
  height: 40px;
  background: white;
  clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  bottom: 0;
  left: 0;
  margin-bottom: -2px; }

.bow-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../images/fuse_icon_borderless.png");
  bottom: 0;
  left: 0;
  margin-left: calc(50% - 40px);
  margin-bottom: -40px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-size: cover;
  border: 3px solid white;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  @media (max-width: 1024px) {
    .bow-logo {
      height: 50px;
      width: 50px;
      margin-left: calc(50% - 25px);
      margin-bottom: -25px; } }
  .bow-logo:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.home-content {
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black; }
  .home-content h1 {
    font-size: 3rem; }
    @media (max-width: 1024px) {
      .home-content h1 {
        font-size: 1.5rem; } }
  .home-content h2 {
    font-size: 2rem; }
    @media (max-width: 1024px) {
      .home-content h2 {
        font-size: 1.2rem; } }
  .home-content h3 {
    font-size: 1.1rem;
    font-weight: normal; }
    @media (max-width: 1024px) {
      .home-content h3 {
        font-size: 1rem;
        margin: 0; } }
  .home-content button {
    margin-top: 10px;
    text-transform: uppercase;
    background: rgba(32, 56, 100, 0.9);
    border-radius: 5px;
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .home-content button:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-filter: saturate(1.5);
      filter: saturate(1.5); }
    @media (max-width: 1024px) {
      .home-content button {
        padding: 5px 10px; } }
  .home-content a {
    text-decoration: none;
    color: inherit; }
    @media (max-width: 1024px) {
      .home-content a {
        font-size: 0.9rem; } }

button {
  border: none;
  background: transparent; }
  button:focus {
    outline: none; }

.home-stats {
  padding: 1.5rem 0;
  background: white;
  width: 90%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto; }
  @media (max-width: 1024px) {
    .home-stats {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 480px) {
    .home-stats {
      margin-top: 20px; } }

.stat {
  width: 25%;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: center; }
  .stat.outer {
    padding-top: 0; }
  .stat h1 {
    font-weight: normal;
    color: #203864; }
    @media (max-width: 480px) {
      .stat h1 {
        margin: 1rem 0 0.5rem 0;
        font-size: 1.5rem; } }
  .stat i {
    color: rgba(0, 0, 0, 0.8); }
    @media (max-width: 1024px) {
      .stat i {
        font-size: 2rem; } }
  .stat p {
    font-size: 1.2rem; }
    @media (max-width: 480px) {
      .stat p {
        margin: 0.1rem 0; } }
    @media (max-width: 1024px) {
      .stat p {
        font-size: 1rem; } }
  @media (max-width: 1024px) {
    .stat {
      width: 50%;
      padding: 0 1.5rem; } }
  @media (max-width: 480px) {
    .stat {
      width: 100%; } }

.fuse-orange {
  color: #ed7d32 !important; }

.home-about, .home-events {
  background: white; }
  .home-about h2, .home-events h2 {
    text-transform: uppercase;
    color: #203864; }
  .home-about .underline, .home-events .underline {
    text-decoration: underline; }

@media (max-width: 1024px) {
  .home-about {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.home-about-text {
  font-size: 1.2rem;
  min-width: 300px;
  max-width: 720px;
  margin-right: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .home-about-text {
      margin: 0;
      font-size: 1rem; } }
  .home-about-text p {
    text-align: justify; }

.home-about-video {
  width: 100%;
  min-width: 300px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .home-about-video .video {
    height: auto;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .home-about-video .video {
        padding: 1rem; } }

.action-bar {
  width: 100%;
  background: #ed7d32; }

.action-bar-content {
  width: 100%;
  color: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1080px;
  margin: auto; }
  .action-bar-content h2 {
    font-weight: normal;
    display: inline;
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 15px; }
    @media (max-width: 720px) {
      .action-bar-content h2 {
        display: none; } }
    @media (max-width: 1024px) {
      .action-bar-content h2 {
        font-size: 1.3rem; } }
  .action-bar-content button {
    display: inline-block;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
    background: #203864;
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 20px 30px; }
    .action-bar-content button:hover {
      -webkit-filter: saturate(1.5);
      filter: saturate(1.5);
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    @media (max-width: 720px) {
      .action-bar-content button {
        margin: auto; } }
    @media (max-width: 1024px) {
      .action-bar-content button {
        padding: 10px 20px; } }
  .action-bar-content a {
    text-decoration: none;
    color: inherit; }
    @media (max-width: 1024px) {
      .action-bar-content a {
        font-size: 0.9rem; } }

.home-branches {
  padding-top: 0.5rem 5rem; }
  @media (max-width: 1024px) {
    .home-branches {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.branch {
  width: 50%;
  position: relative; }
  .branch h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #203864; }
    @media (max-width: 1024px) {
      .branch h1 {
        font-size: 1.25rem; } }
  .branch .ontario {
    background: url("../images/toronto_small.jpg");
    background-size: cover;
    background-position: center; }
    .branch .ontario::before {
      right: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
      -webkit-clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0); }
  .branch .bc {
    background: url("../images/vancouver_small.jpg");
    background-size: cover; }
    .branch .bc::before {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
      -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0); }
  .branch .quebec {
    background: url("../images/quebec_small.jpg");
    background-size: cover;
    background-position: center; }
    .branch .quebec::before {
      right: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
      -webkit-clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0); }
  .branch .alberta {
    background: url("../images/alberta.jpg");
    background-size: cover; }
    .branch .alberta::before {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
      -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0); }
  .branch .branch-image {
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative; }
    .branch .branch-image::before {
      content: " ";
      position: absolute;
      height: 200px;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s; }
    .branch .branch-image:hover::before {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }
    @media (max-width: 720px) {
      .branch .branch-image {
        height: 140px; } }
  @media (max-width: 720px) {
    .branch {
      width: 100%; } }

.home-events {
  font-size: 1.2rem;
  padding-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media (max-width: 1024px) {
    .home-events {
      font-size: 1rem; } }

.event {
  width: 100%;
  padding: 1rem 0; }
  .event .event-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 15px;
    margin-right: 35px;
    float: left; }
    @media (max-width: 1024px) {
      .event .event-image {
        width: 100px;
        height: 100px; } }
    .event .event-image.case-competition {
      background: url("../images/case_competition.jpg");
      background-size: cover;
      background-position: center; }
    .event .event-image.next-event {
      background: url("../images/fuse_icon_borderless.png");
      background-size: cover;
      background-position: center; }
  .event h1, .event h2, .event h3 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase; }
  .event h1 {
    font-size: 1.5rem; }
    @media (max-width: 1024px) {
      .event h1 {
        font-size: 1.4rem; } }
  .event h2 {
    font-size: 1.2rem; }
    @media (max-width: 1024px) {
      .event h2 {
        font-size: 1.2rem; } }
  .event h3 i {
    font-size: 1.5rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: black; }
    @media (max-width: 1024px) {
      .event h3 i {
        font-size: 1rem; } }
    .event h3 i:hover {
      color: #203864; }
  .event a {
    color: black;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none; }
    .event a:hover {
      color: #ed7d32;
      text-decoration: underline; }
  .event .event-content {
    float: left;
    width: calc(100% - 255px); }
    @media (max-width: 1024px) {
      .event .event-content {
        width: calc(100% - 175px); } }
    @media (max-width: 480px) {
      .event .event-content {
        clear: both;
        width: 100%; } }

.home-sponsors {
  padding: 2rem 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  max-width: 100%;
  min-height: auto;
  position: relative; }
  @media (max-width: 1024px) {
    .home-sponsors {
      padding: 1rem; } }
  .home-sponsors img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 100px;
    width: auto;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin: 20px; }
    .home-sponsors img:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
    @media (max-width: 1024px) {
      .home-sponsors img {
        height: 70px; } }
  .home-sponsors.affiliates {
    margin-top: 0;
    padding: 1rem 1rem; }

#sponsors {
  background: white;
  margin: 0;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

#sponsors .primary {
  margin: auto; }

#sponsor_logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.sponsor-image {
  max-height: 150px;
  max-width: 350px;
  margin: 20px; }
  .sponsor-image img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

@media (max-width: 1024px) {
  #sponsors {
    margin: 0; }
  #sponsors img {
    max-height: 100px;
    max-width: 200px;
    margin: 10px; } }

.home-footer {
  max-width: 100%;
  background: #2b374d;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.footer-block {
  width: 400px;
  margin: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 1rem 0; }
  @media (max-width: 480px) {
    .footer-block.left {
      display: none; } }
  .footer-block.middle img {
    height: 100px; }
  .footer-block.right {
    margin-top: -48px;
    position: relative; }
    .footer-block.right::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 68px;
      background: #2b374d;
      z-index: 1;
      left: 0; }
    @media (max-width: 1500px) {
      .footer-block.right {
        display: none; } }
  @media (max-width: 1024px) {
    .footer-block {
      padding: 0; } }

.footer-media {
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
  text-align: center; }
  .footer-media a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: white;
    background: #113984;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 5px; }
    .footer-media a:hover {
      background: #ed7d32;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .footer-media .ownership {
    margin-top: 10px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(255, 255, 255, 0.6); }

.about-cover {
  height: 170px;
  width: 100%;
  background: url("../images/skyline-about_small.jpg");
  background-size: cover; }
  @media (max-width: 1024px) {
    .about-cover {
      height: 90px; } }

.contact-cover {
  height: 170px;
  width: 100%;
  background: url("../images/skyline-contact_small.jpg");
  background-size: cover; }
  @media (max-width: 1024px) {
    .contact-cover {
      height: 90px; } }

.about-wrapper {
  background: #ed7d32;
  width: 100%; }

.contact-wrapper {
  background: #113984;
  width: 100%; }

.about-bar, .contact-bar {
  height: 5rem;
  min-height: 5rem; }
  @media (max-width: 1024px) {
    .about-bar, .contact-bar {
      height: 3rem;
      min-height: 3rem; } }
  .about-bar h2, .contact-bar h2 {
    color: white;
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase; }
    @media (max-width: 1024px) {
      .about-bar h2, .contact-bar h2 {
        font-size: 1.5rem; } }

.about-body, .contact-body {
  min-height: 80%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media (max-width: 1024px) {
    .about-body, .contact-body {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem; } }
  .about-body h1, .contact-body h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #203864;
    margin-bottom: 0.5rem; }
    @media (max-width: 1024px) {
      .about-body h1, .contact-body h1 {
        font-size: 1.3rem; } }
  .about-body p, .contact-body p {
    margin-top: 0.5rem; }

.about-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.contact-body {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.about-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.about-text {
  width: 60%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
    .about-text {
      width: 100%; } }

.about-video {
  width: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  padding: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 1024px) {
    .about-video {
      width: 100%; } }

.about-method {
  width: 30%;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 720px) {
    .about-method {
      width: 100%; } }
  .about-method h2 {
    color: #ed7d32;
    font-weight: normal;
    text-transform: uppercase; }
    @media (max-width: 1024px) {
      .about-method h2 {
        font-size: 1.2rem; } }
  .about-method p {
    padding: 0 0.5rem;
    margin-top: 0; }
  .about-method .about-icon {
    margin: auto;
    height: 3rem;
    width: 3rem;
    min-height: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    color: #203864;
    background: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5rem;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .about-method .about-icon:hover {
      color: white;
      background: #203864; }

.contact-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 720px) {
    .contact-form {
      width: 100%; } }
  .contact-form label {
    text-transform: uppercase;
    width: 100%;
    margin-top: 1rem; }
  .contact-form .form-input {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    border: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0;
    -webkit-appearance: none; }
    .contact-form .form-input:focus {
      outline: none;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .contact-form .form-textarea {
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    border: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0;
    -webkit-appearance: none; }
    .contact-form .form-textarea:focus {
      outline: none;
      -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .contact-form .form-send {
    margin-top: 2rem;
    border: none;
    background: #113984;
    color: white;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none; }
    .contact-form .form-send:focus {
      outline: none; }
    .contact-form .form-send:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.form-person {
  display: inline-block;
  width: 40%;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }
  @media (max-width: 720px) {
    .form-person {
      width: 100%; } }
  .form-person .form-image {
    width: 70%;
    background: url("../images/fuse_icon_borderless.png");
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    max-width: 250px; }
    @media (max-width: 720px) {
      .form-person .form-image {
        width: 40%; } }
    .form-person .form-image:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
  .form-person h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #203864; }
  .form-person a {
    color: #113984; }
