/* variables
============================================================================ */
$colour-fuse-blue: rgb(32, 56, 100);
$colour-fuse-blue-saturated: rgb(17, 57, 132); // fuse blue saturated to 1.7 times
$colour-fuse-blue-unsaturated: rgb(43, 55, 77); // fuse blue saturated to 0.5 times
$colour-fuse-orange: rgb(237, 125, 50);
$colour-white: rgb(255, 255, 255);
$colour-black: rgb(0, 0, 0);
$shadow-medium: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-light: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$text-size-normal: 1rem;
$text-size-heading: 1.2rem;
$text-size-large: 1.5rem;
$medium-transition: 0.6s;
$quick-transition: 0.3s;
$quicker-transition: 0.2s;
$border-button: 5px;
$border-large: 10px;
$padding-side-large: 5rem;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "xs" {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint == "sm" {
    @media (max-width: 720px) {
      @content;
    }
  }

  @else if $breakpoint == "med" {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint == "lg" {
    @media (max-width: 1500px) {
      @content;
    }
  }
}

%centre-block {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 $padding-side-large;
  box-sizing: border-box;
  min-height: 35%;
  align-items: center;
  display: flex;

  @include respond-to('lg') {
    padding: 0 3rem;
  }

  @include respond-to('med') {
    padding: 0 1rem;
  }
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  line-height: 1.8rem;
}

.home-navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  align-items: center;
  width: 100%;
  transition: border $quick-transition;
  color: $colour-white;
  z-index: 1;
  padding: 0 3rem;
  box-sizing: border-box;
  height: 90px;

  &.stick {
    background: rgba($colour-fuse-blue, 0.9);
    box-shadow: $shadow-medium;

    .selected, span:hover {
      border-bottom: 2px solid $colour-white;
    }

    .nav-sub-container {
      background: transparent;
      width: 150px;
    }

    .nav-sub {
      background: rgba($colour-fuse-blue, 0.9);
    }
  }

  @include respond-to('med') {
    display: none;
  }
}

.nav-logo {
  margin: 1rem;
  margin-right: auto;

  img {
    display: block;
    width: 6rem;
    transition: $quick-transition;
    cursor: pointer;

    &.stick {
      width: 5rem;
    }
  }
}

.nav-item {
  text-transform: uppercase;
  list-style: none;
  padding: 2rem 1.5rem;
  white-space: nowrap;
  text-align: center;
  font-size: $text-size-heading;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;

  span {
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: $quicker-transition;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &.selected, &:hover {
      border-bottom: 2px solid $colour-white;

      + .nav-sub-container {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.nav-sub-container {
  position: absolute;
  background: rgba($colour-fuse-orange, 0.7);
  margin: 0 0 0 -1.5rem;
  width: 100%;
  padding: 90px 0 10px 0;
  top: 0;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity $quick-transition;

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

.nav-sub {
  list-style: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.home-title {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .background-image {
    background: url('../images/people/ont_exec_team_gray.JPG');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  }
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.bow-style {
  position: absolute;
  width: 100%;
  height: 40px;
  background: $colour-white;
  clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
}

.bow-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url('../images/fuse_icon_borderless.png');
  bottom: 0;
  left: 0;
  margin-left: calc(50% - 40px);
  margin-bottom: -40px;
  box-shadow: $shadow-light;
  background-size: cover;
  border: 3px solid $colour-white;
  cursor: pointer;
  transition: $quicker-transition;

  &:hover {
    transform: translateY(-10px);
    box-shadow: $shadow-medium;
  }
}

.home-content {
  text-transform: uppercase;
  text-align: center;
  color: $colour-white;
  text-shadow: 1px 1px 2px $colour-black;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: normal;
  }

  button {
    margin-top: 10px;
    text-transform: uppercase;
    background: rgba($colour-fuse-blue, 0.9);
    border-radius: $border-button;
    padding: 0 15px;
    color: rgba($colour-white, 0.9);
    cursor: pointer;
    transition: $quicker-transition;

    &:hover {
      transform: scale(1.05);
      filter: saturate(1.5);
    }
  }
}

button {
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.home-stats {
  padding: 1.5rem 0;
  background: $colour-white;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  margin: auto;

  @include respond-to('med') {
    flex-wrap: wrap;
  }

  @include respond-to('xs') {
    margin-top: 20px;
  }
}

.stat {
  width: 25%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;

  &.outer {
    padding-top: 0;
  }

  h1 {
    font-weight: normal;
    color: $colour-fuse-blue;

    @include respond-to('xs') {
      margin: 1rem 0 0.1rem 0;
    }
  }

  i {
    color: rgba($colour-black, 0.8);
  }

  p {
    font-size: $text-size-heading;

    @include respond-to('xs') {
      margin: 0.1rem 0;
    }
  }

  @include respond-to('med') {
    width: 50%;
    padding: 0 1.5rem;
  }

  @include respond-to('xs') {
    width: 100%;
  }
}

.fuse-orange {
  color: $colour-fuse-orange !important;
}

.home-about, .home-events {
  @extend %centre-block;
  background: $colour-white;

  h2 {
    text-transform: uppercase;
    color: $colour-fuse-blue;
  }

  .underline {
    text-decoration: underline;
  }
}

.home-about {
  @include respond-to('med') {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.home-about-text {
  font-size: $text-size-heading;
  min-width: 300px;
  max-width: 720px;
  margin-right: 2rem;
  box-sizing: border-box;

  @include respond-to('med') {
    text-align: center;
    margin: 0;
  }
}

.home-about-video {
  width: 100%;
  min-width: 300px;
  max-width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;

  .video {
    height: auto;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;

    @include respond-to('med') {
      padding: 1rem;
    }
  }
}

.action-bar {
  width: 100%;
  background: $colour-fuse-orange;
}

.action-bar-content {
  width: 100%;
  color: $colour-white;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  max-width: 1080px;
  margin: auto;

  h2 {
    font-weight: normal;
    display: inline;
    text-align: center;
    flex: 1;
    padding: 0 15px;

    @include respond-to('sm') {
      display: none;
    }
  }

  button {
    display: inline-block;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
    background: $colour-fuse-blue;
    color: $colour-white;
    white-space: nowrap;
    font-size: $text-size-normal;
    border-radius: $border-button;
    cursor: pointer;
    transition: $quick-transition;
    padding: 20px 30px;

    &:hover {
      filter: saturate(1.5);
      box-shadow: $shadow-light;
    }

    @include respond-to('sm') {
      margin: auto;
    }
  }
}

.home-branches {
  @extend %centre-block;
  padding-top: 0.5rem $padding-side-large;

  @include respond-to('med') {
    flex-wrap: wrap;
  }
}

.branch {
  width: 50%;
  position: relative;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: $text-size-large;
    color: $colour-fuse-blue;
  }

  .ontario {
    background: url('../images/toronto_small.jpg');
    background-size: cover;
    background-position: center;

    &::before {
      right: 0;
      transform: translateX(100%);
      clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
      -webkit-clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
    }
  }

  .bc {
    background: url('../images/vancouver_small.jpg');
    background-size: cover;

    &::before {
      transform: translateX(-100%);
      clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
      -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
    }
  }

  .branch-image {
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius: $border-large;
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: 200px;
      width: 100%;
      background: rgba($colour-white, 0.5);
      transition: $medium-transition;
    }

    &:hover::before {
      transform: translateX(0);
    }

    @include respond-to('sm') {
      height: 140px;
    }
  }

  @include respond-to('sm') {
    width: 100%;
  }
}

.home-events {
  font-size: $text-size-heading;
  padding-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
}

.event {
  width: 100%;
  padding: 1rem 0;

  .event-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 15px;
    margin-right: 35px;
    float: left;

    @include respond-to('med') {
      width: 100px;
      height: 100px;
    }

    &.case-competition {
      background: url("../images/case_competition.jpg");
      background-size: cover;
      background-position: center;
    }

    &.next-event {
      background: url("../images/fuse_icon_borderless.png");
      background-size: cover;
      background-position: center;
    }
  }

  h1, h2, h3 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1 {
    font-size: $text-size-large;
  }

  h2 {
    font-size: $text-size-heading;
  }

  h3 i {
    font-size: $text-size-large;
    transition: $quick-transition;
    color: $colour-black;

    &:hover {
      color: $colour-fuse-blue;
    }
  }

  a {
    color: $colour-black;
    transition: $quick-transition;
    text-decoration: none;

    &:hover {
      color: $colour-fuse-orange;
      text-decoration: underline;
    }
  }

  .event-content {
    float: left;
    width: calc(100% - 255px);

    @include respond-to('med') {
      width: calc(100% - 175px);
    }

    @include respond-to('xs') {
      clear: both;
      width: 100%;
    }
  }
}

.home-sponsors {
  @extend %centre-block;
  padding: 2rem 1rem;
  justify-content: center;
  margin-top: 50px;
  max-width: 100%;
  min-height: auto;
  background: $colour-fuse-blue-saturated;
  overflow: hidden;
  position: relative;

  &:hover {
    .scrolling {
      animation-play-state: paused !important;
    }
  }

  @include respond-to('med') {
    padding: 1rem;
  }

  .scrolling {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &.first {
      animation: scroll-left-first infinite 15s linear;

      @include respond-to('sm') {
        visibility: hidden;
      }
    }

    &.second {
      position: absolute;
      left: 0;
      animation: scroll-left-second infinite 15s linear;

      @include respond-to('sm') {
        visibility: hidden;
      }
    }

    &.small {
      animation: scroll-left infinite 15s linear;
      visibility: hidden;
      position: absolute;
      left: 0;

      @include respond-to('sm') {
        visibility: visible;
      }
    }
  }

  img {
    transition: $quick-transition;
    height: 100px;
    width: auto;
    display: block;
    flex: auto;
    margin: 20px;

    &:hover {
      transform: scale(1.05);
    }

    @include respond-to('med') {
      height: 70px;
    }
  }
}

@keyframes scroll-left {
  0% { transform: translateX(100%) },
  100% { transform: translateX(-100%) }
}

@keyframes scroll-left-first {
  0% { transform: translateX(0) },
  100% { transform: translateX(-100%) }
}

@keyframes scroll-left-second {
  0% { transform: translateX(100%) },
  100% { transform: translateX(0) }
}

.home-footer {
  @extend %centre-block;
  max-width: 100%;
  background: $colour-fuse-blue-unsaturated;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.footer-block {
  width: 400px;
  margin: 20px;
  color: rgba($colour-white, 0.7);
  text-align: center;
  padding: 1rem 0;

  &.left {
    @include respond-to('xs') {
      display: none;
    }
  }

  &.middle {
    img {
      height: 100px;
    }
  }

  &.right {
    margin-top: -48px;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 68px;
      background: $colour-fuse-blue-unsaturated;
      z-index: 1;
      left: 0;
    }

    @include respond-to('lg') {
      display: none;
    }
  }

  @include respond-to('med') {
    padding: 0;
  }
}

.footer-media {
  width: 100%;
  align-self: flex-end;
  text-align: center;

  a {
    display: inline-flex;
    color: $colour-white;
    background: $colour-fuse-blue-saturated;
    transition: $quick-transition;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: $shadow-light;
    margin: 5px;

    &:hover {
      background: $colour-fuse-orange;
      box-shadow: $shadow-medium;
    }
  }

  .ownership {
    margin-top: 10px;
    cursor: default;
    user-select: none;
    color: rgba($colour-white, 0.6);
  }
}
