/* variables
============================================================================ */
$colour-fuse-blue: rgb(32, 56, 100);
$colour-fuse-blue-saturated: rgb(17, 57, 132); // fuse blue saturated to 1.7 times
$colour-fuse-blue-unsaturated: rgb(43, 55, 77); // fuse blue saturated to 0.5 times
$colour-fuse-orange: rgb(237, 125, 50);
$colour-fuse-orange-saturated: rgb(255, 116, 3); // fuse orange saturated to 1.5 times
$colour-white: rgb(255, 255, 255);
$colour-black: rgb(0, 0, 0);
$shadow-medium: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-light: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$text-size-normal: 1rem;
$text-size-heading: 1.2rem;
$text-size-large: 1.5rem;
$medium-transition: 0.6s;
$quick-transition: 0.3s;
$quicker-transition: 0.2s;
$border-button: 5px;
$border-large: 10px;
$padding-side-large: 5rem;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "xs" {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint == "sm" {
    @media (max-width: 720px) {
      @content;
    }
  }

  @else if $breakpoint == "med" {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint == "lg" {
    @media (max-width: 1500px) {
      @content;
    }
  }
}

%centre-block {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 $padding-side-large;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 35%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @include respond-to('lg') {
    padding: 0 3rem;
  }

  @include respond-to('med') {
    padding: 0 1rem;
  }
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

input, textarea, button {
  font-family: 'Source Sans Pro', sans-serif !important;
}

p {
  line-height: 1.8rem;
}

#loading_container {
	position: fixed;
	height: 100%;
	width: 100%;
	background: white;
	z-index: 10;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #555;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#loading {
	position: relative;
	width: 100%;
	text-align: center;
}

#loading p {
	font-size: 5rem;
	margin: 0 auto;
	padding: 0;
	top: -30px;
	position: absolute;
	width: 100%;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

#loading span {
	display: inline-block;
	-webkit-animation: bounce 1s infinite;
	        animation: bounce 1s infinite;
}

#loading #two {
	-webkit-animation-delay: 0.1s;
	        animation-delay: 0.1s;
}

#loading #two {
	-webkit-animation-delay: 0.2s;
	        animation-delay: 0.2s;
}

#loading #one {
	-webkit-animation-delay: 0.3s;
	        animation-delay: 0.3s;
}

@-webkit-keyframes bounce {
	0% {-webkit-transform: scale(1);transform: scale(1);}
	50% {-webkit-transform: scale(1.5);transform: scale(1.5);}
	100% {-webkit-transform: scale(1);transform: scale(1);}
}

@keyframes bounce {
	0% {-webkit-transform: scale(1);transform: scale(1);}
	50% {-webkit-transform: scale(1.5);transform: scale(1.5);}
	100% {-webkit-transform: scale(1);transform: scale(1);}
}

.home-navbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: border $quick-transition;
  -o-transition: border $quick-transition;
  transition: border $quick-transition;
  color: $colour-white;
  z-index: 1;
  padding: 0 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 90px;
  top: 0;

  &.stick {
    background: rgba($colour-fuse-blue, 0.9);
    -webkit-box-shadow: $shadow-medium;
            box-shadow: $shadow-medium;

    .selected, span:hover {
      border-bottom: 2px solid $colour-white;
    }

    .nav-sub-container {
      background: transparent;
    }

    .nav-sub {
      background: rgba($colour-fuse-blue, 0.9);
      -webkit-box-shadow: $shadow-light;
              box-shadow: $shadow-light;
    }
  }

  @include respond-to('med') {
    display: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.nav-logo {
  margin: 1rem;
  margin-right: auto;

  img {
    display: block;
    width: 6rem;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    cursor: pointer;

    &.stick {
      width: 5rem;
    }
  }
}

.nav-item {
  text-transform: uppercase;
  list-style: none;
  padding: 2rem 1.5rem;
  white-space: nowrap;
  text-align: center;
  font-size: $text-size-heading;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;

  span {
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    -webkit-transition: $quicker-transition;
    -o-transition: $quicker-transition;
    transition: $quicker-transition;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &.selected, &:hover {
      border-bottom: 2px solid $colour-white;

      &.no-underline {
        border-bottom: 2px solid transparent;
      }

      + .nav-sub-container {
        visibility: visible;
        opacity: 1;
      }
    }

    &.involve {
      background: $colour-fuse-orange;
      border-radius: $border-button;
      -webkit-transition: $quicker-transition;
      -o-transition: $quicker-transition;
      transition: $quicker-transition;
      padding: 10px;

      &:hover {
        border-bottom: 2px solid transparent;
        background: $colour-fuse-orange-saturated;
      }
    }
  }
}

.nav-sub-container {
  position: absolute;
  background: $colour-fuse-orange;
  margin: 0 0 0 -1.5rem;
  width: 100%;
  padding: 90px 0 0 0;
  top: 0;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity $quick-transition;
  -o-transition: visibility 0s, opacity $quick-transition;
  transition: visibility 0s, opacity $quick-transition;

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

.nav-sub {
  list-style: none;
  padding: 0.5rem 3.5rem 0.5rem 1.5rem;
  cursor: pointer;
  background: transparent;
  width: 100%;
  background: $colour-fuse-orange;
  overflow: hidden;

  &:hover {
    text-decoration: underline;
  }
}

.mobile-navbar-wrapper {
  visibility: hidden;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba($colour-black, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mobile-navbar-top {
  height: 3.5rem;
  width: auto;
  position: fixed;
  background: $colour-fuse-blue;
  border-radius: 3px;
  padding: 0 0.5rem;
  // justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-box-shadow: $shadow-light;
          box-shadow: $shadow-light;
  cursor: pointer;

  .mobile-navbar-logo {
    height: 2.5rem;
    width: auto;

    img {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  display: none;

  @include respond-to('med') {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-navbar {
  width: 90%;
  background: $colour-fuse-blue;
  position: relative;
}

.hiring-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background: rgba($colour-black, 0.8);
  position: fixed;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: $medium-transition;
  -o-transition: $medium-transition;
  transition: $medium-transition;

  iframe {
    -webkit-transition: $medium-transition;
    -o-transition: $medium-transition;
    transition: $medium-transition;
    width: 60%;
    height: 80%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);

    @include respond-to('med') {
      height: 80%;
    }
  }
}

.home-title {
  height: 85%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;

  .background-image {
    background: url('../images/people/ont_exec_team_gray.JPG');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

    @include respond-to('med') {
      background-attachment: scroll;
    }
  }
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.bow-style {
  position: absolute;
  width: 100%;
  height: 40px;
  background: $colour-white;
  clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  bottom: 0;
  left: 0;
  margin-bottom: -2px;
}

.bow-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url('../images/fuse_icon_borderless.png');
  bottom: 0;
  left: 0;
  margin-left: calc(50% - 40px);
  margin-bottom: -40px;
  -webkit-box-shadow: $shadow-light;
          box-shadow: $shadow-light;
  background-size: cover;
  border: 3px solid $colour-white;
  cursor: pointer;
  -webkit-transition: $quicker-transition;
  -o-transition: $quicker-transition;
  transition: $quicker-transition;

  @include respond-to('med') {
    height: 50px;
    width: 50px;
    margin-left: calc(50% - 25px);
    margin-bottom: -25px;
  }

  &:hover {
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: $shadow-medium;
            box-shadow: $shadow-medium;
  }
}

.home-content {
  text-transform: uppercase;
  text-align: center;
  color: $colour-white;
  text-shadow: 1px 1px 2px $colour-black;

  h1 {
    font-size: 3rem;

    @include respond-to('med') {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 2rem;

    @include respond-to('med') {
      font-size: 1.2rem;
    }
  }

  h3 {
    font-size: 1.1rem;
    font-weight: normal;

    @include respond-to('med') {
      font-size: 1rem;
      margin: 0;
    }
  }

  button {
    margin-top: 10px;
    text-transform: uppercase;
    background: rgba($colour-fuse-blue, 0.9);
    border-radius: $border-button;
    padding: 0 15px;
    color: rgba($colour-white, 0.9);
    cursor: pointer;
    -webkit-transition: $quicker-transition;
    -o-transition: $quicker-transition;
    transition: $quicker-transition;

    &:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-filter: saturate(1.5);
              filter: saturate(1.5);
    }

    @include respond-to('med') {
      padding: 5px 10px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    @include respond-to('med') {
      font-size: 0.9rem;
    }
  }
}

button {
  border: none;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.home-stats {
  padding: 1.5rem 0;
  background: $colour-white;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;

  @include respond-to('med') {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  @include respond-to('xs') {
    margin-top: 20px;
  }
}

.stat {
  width: 25%;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;

  &.outer {
    padding-top: 0;
  }

  h1 {
    font-weight: normal;
    color: $colour-fuse-blue;

    @include respond-to('xs') {
      margin: 1rem 0 0.1rem 0;
    }
  }

  i {
    color: rgba($colour-black, 0.8);
    
    @include respond-to('med') {
      font-size: 2rem;
    }
  }

  p {
    font-size: $text-size-heading;

    @include respond-to('xs') {
      margin: 0.1rem 0;
    }

    @include respond-to('med') {
      font-size: 1rem;
    }
  }

  @include respond-to('med') {
    width: 50%;
    padding: 0 1.5rem;
  }

  @include respond-to('xs') {
    width: 100%;
  }
}

.fuse-orange {
  color: $colour-fuse-orange !important;
}

.home-about, .home-events {
  @extend %centre-block;
  background: $colour-white;

  h2 {
    text-transform: uppercase;
    color: $colour-fuse-blue;
  }

  .underline {
    text-decoration: underline;
  }
}

.home-about {
  @include respond-to('med') {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home-about-text {
  font-size: $text-size-heading;
  min-width: 300px;
  max-width: 720px;
  margin-right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  @include respond-to('med') {
    margin: 0;
    font-size: 1rem;
  }

  p {
    text-align: justify;
  }
}

.home-about-video {
  width: 100%;
  min-width: 300px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  .video {
    height: auto;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    @include respond-to('med') {
      padding: 1rem;
    }
  }
}

.action-bar {
  width: 100%;
  background: $colour-fuse-orange;
}

.action-bar-content {
  width: 100%;
  color: $colour-white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1080px;
  margin: auto;

  h2 {
    font-weight: normal;
    display: inline;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 15px;

    @include respond-to('sm') {
      display: none;
    }

    @include respond-to('med') {
      font-size: 1.3rem;
    }
  }

  button {
    display: inline-block;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
    background: $colour-fuse-blue;
    color: $colour-white;
    white-space: nowrap;
    font-size: $text-size-normal;
    border-radius: $border-button;
    cursor: pointer;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    padding: 20px 30px;

    &:hover {
      -webkit-filter: saturate(1.5);
              filter: saturate(1.5);
      -webkit-box-shadow: $shadow-light;
              box-shadow: $shadow-light;
    }

    @include respond-to('sm') {
      margin: auto;
    }

    @include respond-to('med') {
      padding: 10px 20px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;

    @include respond-to('med') {
      font-size: 0.9rem;
    }
  }
}

.home-branches {
  @extend %centre-block;
  padding-top: 0.5rem $padding-side-large;

  @include respond-to('med') {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.branch {
  width: 50%;
  position: relative;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: $text-size-large;
    color: $colour-fuse-blue;

    @include respond-to('med') {
      font-size: 1.25rem;
    }
  }

  .ontario {
    background: url('../images/toronto_small.jpg');
    background-size: cover;
    background-position: center;

    &::before {
      right: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
      -webkit-clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
    }
  }

  .bc {
    background: url('../images/vancouver_small.jpg');
    background-size: cover;

    &::before {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
      -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
    }
  }

  .quebec {
    background: url('../images/quebec_small.jpg');
    background-size: cover;
    background-position: center;

    &::before {
      right: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
      -webkit-clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
    }
  }

  .calgary {
    background: url('../images/calgary_small.jpg');
    background-size: cover;

    &::before {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
      clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
      -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
    }
  }

  .branch-image {
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius: $border-large;
    // cursor: pointer;
    overflow: hidden;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      height: 200px;
      width: 100%;
      background: rgba($colour-white, 0.5);
      -webkit-transition: $medium-transition;
      -o-transition: $medium-transition;
      transition: $medium-transition;
    }

    &:hover::before {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0);
    }

    @include respond-to('sm') {
      height: 140px;
    }
  }

  @include respond-to('sm') {
    width: 100%;
  }
}

.home-events {
  font-size: $text-size-heading;
  padding-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  @include respond-to('med') {
    font-size: 1rem;
  }
}

.event {
  width: 100%;
  padding: 1rem 0;

  .event-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 15px;
    margin-right: 35px;
    float: left;

    @include respond-to('med') {
      width: 100px;
      height: 100px;
    }

    &.case-competition {
      background: url("../images/case_competition.jpg");
      background-size: cover;
      background-position: center;
    }

    &.next-event {
      background: url("../images/fuse_icon_borderless.png");
      background-size: cover;
      background-position: center;
    }
  }

  h1, h2, h3 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h1 {
    font-size: $text-size-large;

    @include respond-to('med') {
      font-size: 1.4rem;
    }
  }

  h2 {
    font-size: $text-size-heading;

    @include respond-to('med') {
      font-size: 1.2rem;
    }
  }

  h3 i {
    font-size: $text-size-large;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    color: $colour-black;

    @include respond-to('med') {
      font-size: 1rem;
    }

    &:hover {
      color: $colour-fuse-blue;
    }
  }

  a {
    color: $colour-black;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    text-decoration: none;

    &:hover {
      color: $colour-fuse-orange;
      text-decoration: underline;
    }
  }

  .event-content {
    float: left;
    width: calc(100% - 255px);

    @include respond-to('med') {
      width: calc(100% - 175px);
    }

    @include respond-to('xs') {
      clear: both;
      width: 100%;
    }
  }
}

.home-sponsors {
  @extend %centre-block;
  padding: 2rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  max-width: 100%;
  min-height: auto;

  overflow: hidden;
  position: relative;

  &:hover {
    .scrolling {
      -webkit-animation-play-state: paused !important;
              animation-play-state: paused !important;
    }
  }

  @include respond-to('med') {
    padding: 1rem;
  }

  .scrolling {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    &.first {
      -webkit-animation: scroll-left-first infinite 15s linear;
              animation: scroll-left-first infinite 15s linear;

      @include respond-to('sm') {
        visibility: hidden;
      }
    }

    &.second {
      position: absolute;
      left: 0;
      -webkit-animation: scroll-left-second infinite 15s linear;
              animation: scroll-left-second infinite 15s linear;

      @include respond-to('sm') {
        visibility: hidden;
      }
    }

    &.small {
      -webkit-animation: scroll-left infinite 15s linear;
              animation: scroll-left infinite 15s linear;
      visibility: hidden;
      position: absolute;
      left: 0;

      @include respond-to('sm') {
        visibility: visible;
      }
    }
  }

  img {
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    height: 100px;
    width: auto;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 20px;

    &:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
    }

    @include respond-to('med') {
      height: 70px;
    }
  }
}

@-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); transform: translateX(100%) }
  100% { -webkit-transform: translateX(-100%); transform: translateX(-100%) }
}

@keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); transform: translateX(100%) }
  100% { -webkit-transform: translateX(-100%); transform: translateX(-100%) }
}

@-webkit-keyframes scroll-left-first {
  0% { -webkit-transform: translateX(0); transform: translateX(0) }
  100% { -webkit-transform: translateX(-100%); transform: translateX(-100%) }
}

@keyframes scroll-left-first {
  0% { -webkit-transform: translateX(0); transform: translateX(0) }
  100% { -webkit-transform: translateX(-100%); transform: translateX(-100%) }
}

@-webkit-keyframes scroll-left-second {
  0% { -webkit-transform: translateX(100%); transform: translateX(100%) }
  100% { -webkit-transform: translateX(0); transform: translateX(0) }
}

@keyframes scroll-left-second {
  0% { -webkit-transform: translateX(100%); transform: translateX(100%) }
  100% { -webkit-transform: translateX(0); transform: translateX(0) }
}

#sponsors {
	background: $colour-white;
  margin: 0;
  -webkit-box-shadow: $shadow-medium;
          box-shadow: $shadow-medium
}

#sponsors .primary {
	margin: auto;
}

#sponsor_logos {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
}

#sponsors img {
	max-height: 150px;
	max-width: 350px;
	margin: 20px;
}

#sponsors .primary {
	padding-top: 30px;
}

@include respond-to('med') {
  #sponsors {
		margin: 0;
	}

	#sponsors img {
		max-height: 100px;
		max-width: 200px;
		margin: 10px;
	}
}

.home-footer {
  @extend %centre-block;
  max-width: 100%;
  background: $colour-fuse-blue-unsaturated;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.footer-block {
  width: 400px;
  margin: 20px;
  color: rgba($colour-white, 0.7);
  text-align: center;
  padding: 1rem 0;

  &.left {
    @include respond-to('xs') {
      display: none;
    }
  }

  &.middle {
    img {
      height: 100px;
    }
  }

  &.right {
    margin-top: -48px;
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 68px;
      background: $colour-fuse-blue-unsaturated;
      z-index: 1;
      left: 0;
    }

    @include respond-to('lg') {
      display: none;
    }
  }

  @include respond-to('med') {
    padding: 0;
  }
}

.footer-media {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;

  a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: $colour-white;
    background: $colour-fuse-blue-saturated;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    -webkit-box-shadow: $shadow-light;
            box-shadow: $shadow-light;
    margin: 5px;

    &:hover {
      background: $colour-fuse-orange;
      -webkit-box-shadow: $shadow-medium;
              box-shadow: $shadow-medium;
    }
  }

  .ownership {
    margin-top: 10px;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: rgba($colour-white, 0.6);
  }
}

.about-cover {
  height: 170px;
  width: 100%;
  background: url('../images/skyline-about_small.jpg');
  background-size: cover;

  @include respond-to('med') {
    height: 90px;
  }
}

.contact-cover {
  height: 170px;
  width: 100%;
  background: url('../images/skyline-contact_small.jpg');
  background-size: cover;

  @include respond-to('med') {
    height: 90px;
  }
}

.about-wrapper {
  background: $colour-fuse-orange;
  width: 100%;
}

.contact-wrapper {
  background: $colour-fuse-blue-saturated;
  width: 100%;
}

.about-bar, .contact-bar {
  @extend %centre-block;
  height: 5rem;
  min-height: 5rem;

  @include respond-to('med') {
    height: 3rem;
    min-height: 3rem;
  }

  h2 {
    color: $colour-white;
    font-weight: normal;
    font-size: 2rem;
    text-transform: uppercase;

    @include respond-to('med') {
      font-size: 1.5rem;
    }
  }
}

.about-body, .contact-body {
  @extend %centre-block;
  min-height: 80%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include respond-to('med') {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $colour-fuse-blue;
    margin-bottom: 0.5rem;

    @include respond-to('med') {
      font-size: 1.3rem;
    }
  }

  p {
    margin-top: 0.5rem;
  }
}

.about-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  width: 60%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  @include respond-to('med') {
    width: 100%;
  }
}

.about-video {
  width: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  padding: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  @include respond-to('med') {
    width: 100%;
  }
}

.about-method {
  width: 30%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  @include respond-to('sm') {
    width: 100%;
  }

  h2 {
    color: $colour-fuse-orange;
    font-weight: normal;
    text-transform: uppercase;

    @include respond-to('med') {
      font-size: 1.2rem;
    }
  }

  p {
    padding: 0 0.5rem;
    margin-top: 0;
  }

  .about-icon {
    margin: auto;
    height: 3rem;
    width: 3rem;
    min-height: 3rem;
    min-height: 3rem;
    border-radius: 50%;
    color: $colour-fuse-blue;
    background: $colour-white;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5rem;
    -webkit-box-shadow: $shadow-light;
            box-shadow: $shadow-light;

    &:hover {
      color: $colour-white;
      background: $colour-fuse-blue;
    }
  }
}

.contact-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  @include respond-to('sm') {
    width: 100%;
  }

  label {
    text-transform: uppercase;
    width: 100%;
    margin-top: 1rem;
  }

  .form-input {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    border: none;
    -webkit-box-shadow: $shadow-light;
            box-shadow: $shadow-light;
    padding: 0 0.5rem;
    font-size: 1rem;

    &:focus {
      outline: none;
      -webkit-box-shadow: $shadow-medium;
              box-shadow: $shadow-medium;
    }
  }

  .form-textarea {
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    border: none;
    -webkit-box-shadow: $shadow-light;
            box-shadow: $shadow-light;
    padding: 0.5rem;
    font-size: 1rem;

    &:focus {
      outline: none;
      -webkit-box-shadow: $shadow-medium;
              box-shadow: $shadow-medium;
    }
  }

  .form-send {
    margin-top: 2rem;
    border: none;
    background: $colour-fuse-blue-saturated;
    color: $colour-white;
    text-transform: uppercase;
    -webkit-transition: $quick-transition;
    -o-transition: $quick-transition;
    transition: $quick-transition;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }

    &:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
}

.form-person {
  display: inline-block;
  width: 40%;
  float: right;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;

  @include respond-to('sm') {
    width: 100%;
  }

  .form-image {
    width: 70%;
    background: url('../images/fuse_icon_borderless.png');
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    max-width: 250px;

    @include respond-to('sm') {
      width: 40%;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

  h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: $colour-fuse-blue;
  }

  a {
    color: $colour-fuse-blue-saturated;
  }
}
