/* variables
============================================================================ */
.home-about, .home-events, .home-branches {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 5rem;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif; }

p {
  line-height: 1.8rem; }

.home-navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  align-items: center;
  width: 100%;
  transition: border 0.3s;
  color: white;
  z-index: 1;
  padding: 0 3rem;
  box-sizing: border-box; }
  .home-navbar.stick {
    background: rgba(32, 56, 100, 0.9);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .home-navbar.stick .selected, .home-navbar.stick span:hover {
      border-bottom: 2px solid white; }

.nav-logo {
  margin: 1rem;
  margin-right: auto; }
  .nav-logo img {
    display: block;
    width: 8rem;
    transition: 0.3s; }
    .nav-logo img.stick {
      width: 5rem; }

.nav-item {
  text-transform: uppercase;
  list-style: none;
  padding: 2rem 1.5rem;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem; }
  .nav-item span {
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: 0.2s;
    cursor: pointer; }
    .nav-item span.selected, .nav-item span:hover {
      border-bottom: 2px solid white; }

.home-title {
  height: 85%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .home-title .background-image {
    background: url("../images/people/ont_exec_team_gray.JPG");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed; }

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.bow-style {
  position: absolute;
  width: 100%;
  height: 40px;
  background: white;
  clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  bottom: 0;
  left: 0;
  margin-bottom: -2px; }

.bow-logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../images/fuse_icon_borderless.png");
  bottom: 0;
  left: 0;
  margin-left: calc(50% - 40px);
  margin-bottom: -40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-size: cover;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.2s; }
  .bow-logo:hover {
    transform: translateY(-10px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.home-content {
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black; }
  .home-content h1 {
    font-size: 3rem; }
  .home-content h2 {
    font-size: 2rem; }
  .home-content h3 {
    font-size: 1.1rem;
    font-weight: normal; }
  .home-content button {
    margin-top: 10px;
    text-transform: uppercase;
    background: rgba(32, 56, 100, 0.7);
    border-radius: 5px;
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    transition: 0.2s; }
    .home-content button:hover {
      transform: scale(1.05);
      background: rgba(32, 56, 100, 0.75); }

button {
  border: none;
  background: transparent; }
  button:focus {
    outline: none; }

.home-stats {
  padding: 0 3rem;
  background: white;
  width: 100%;
  box-sizing: border-box;
  display: flex; }

.stat {
  width: 25%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: inline-block;
  flex: 1;
  text-align: center; }
  .stat.outer {
    padding-top: 0; }
  .stat h1 {
    font-weight: normal;
    color: #203864; }
  .stat i {
    color: rgba(0, 0, 0, 0.8); }
  .stat p {
    font-size: 1.2rem; }

.fuse-orange {
  color: #ed7d32 !important; }

.home-about, .home-events {
  background: white;
  box-sizing: border-box;
  display: flex; }
  .home-about h2, .home-events h2 {
    text-transform: uppercase;
    color: #203864; }
  .home-about .underline, .home-events .underline {
    text-decoration: underline; }

.home-about-text {
  font-size: 1.2rem;
  min-width: 300px;
  max-width: 720px;
  margin-right: 2rem;
  box-sizing: border-box; }

.home-about-video {
  width: 100%;
  min-width: 300px;
  max-width: 540px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .home-about-video .video {
    height: auto;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box; }

.action-bar {
  width: 100%;
  background: #ed7d32; }

.action-bar-content {
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  max-width: 1080px;
  margin: auto; }
  .action-bar-content h2 {
    font-weight: normal;
    display: inline;
    text-align: center;
    flex: 1;
    padding: 0 15px; }
  .action-bar-content button {
    display: inline-block;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
    background: #203864;
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 30px; }
    .action-bar-content button:hover {
      filter: saturate(1.5);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.home-branches {
  padding-top: 0.5rem 5rem;
  display: flex; }

.branch {
  flex: 1;
  position: relative; }
  .branch h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #203864; }
  .branch .ontario {
    background: url("../images/toronto_small.jpg");
    background-size: cover;
    background-position: center; }
    .branch .ontario::before {
      right: 0;
      transform: translateX(100%);
      clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0);
      -webkit-clip-path: polygon(100% 0, 60% 0, 70% 100%, 100% 100%, 100% 0); }
  .branch .bc {
    background: url("../images/vancouver_small.jpg");
    background-size: cover; }
    .branch .bc::before {
      transform: translateX(-100%);
      clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0);
      -webkit-clip-path: polygon(0 0, 0 100%, 30% 100%, 40% 0, 0 0); }
  .branch .branch-image {
    width: 70%;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    .branch .branch-image::before {
      content: " ";
      position: absolute;
      height: 200px;
      width: 100%;
      background: rgba(255, 255, 255, 0.5);
      transition: 0.6s; }
    .branch .branch-image:hover::before {
      transform: translateX(0); }

.home-events {
  font-size: 1.2rem;
  padding-top: 2rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column; }
